<div class="search-box container">
  <div class="row">
    <div class="col-9 search-box-input">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Seach by Name, Company, #Tag name or press # to show list of tags" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let tag of filteredTag | async" [value]="tag.name">
              {{tag.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div class="col-3 d-flex justify-content-start align-items-center">
      <div class="search-box-icon-update">
        <p>!</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-end ">
    <div class="col-3 message-container">
      <div class="">
        <div *ngFor="let alert of newTagData$" class="">
          <div class="alert alert-success alert-dismissible" id="message" close="closeAlert()" dismiss-on-timeout="2000" data-dismiss="alert">
            New Tag:
            <strong>{{alert.name}}</strong>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
