.search-box {
  position: relative;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  color: black;
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
  .search-box-input {
    padding-left: 26px;
    input {
      padding-left: 10px;
    }
  }
  .search-box-icon-update {
    display: inline-block;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    p {
      margin: 0;
    }
  }
  .message-container {
    position: absolute;
    z-index: 1;
  }
}
